# Database Credentials
POSTGRES_USER=krynon
POSTGRES_PASSWORD=krynon_password
POSTGRES_DB=krynon_db

# Local database URL (outside Docker)
DATABASE_URL=postgres://krynon:krynon_password@localhost:5433/krynon_db

# Host/Port for the application
APP_PORT=8080

# Host/Port for the Adminer database UI (http://localhost:8081)
ADMINER_PORT=8081
